.hero {
    width: 100%;
    position: relative;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    .div-hero {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin: 20px;
    z-index: 1;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}